.error-block {
    z-index: 5;
    position: absolute;
    top: 30px;
    left: 0;
    color: red;
}

.cost-item__shop {
    font-weight: bold;
    margin-right: 10px;
}

.cost-item__inner {
    position: relative;
}

.cost-item__shop-input,
.cost-item__price-input {
    margin-right: 10px;
}

.btn-block__cancel,
.btn-block__edit,
.btn-block__save {
    margin-right: 10px;
}

.btn-block__save {
    position: relative;
    min-width: 103px;
    min-height: 38px;
}

.btn-delete {
    position: relative;
    min-width: 40px;
    min-height: 38px;
}

@media (max-width: 1200px) {
    .cost-item__shop-input,
    .cost-item__price-input {
        width: 110px !important
    }
}

@media (max-width: 992px) {
    .cost-item__date-input {
        width: 124px !important
    }

    .cost-item__shop-input {
        width: 80px !important
    }

    .cost-item__price-input {
        width: 75px !important;
    }
}

@media (max-width: 768px) {
    .cost-item {
        flex-direction: column;
    }

    .cost-item__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cost-item__shop-input,
    .cost-item__price-input,
    .cost-item__date-input {
        width: 100% !important;
    }

    .cost-item__shop-input,
    .cost-item__date-input,
    .cost-item__price-input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .cost-item__shop {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .cost-item__btn-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-block__cancel,
    .btn-block__save,
    .btn-block__edit {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .btn-block__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
